In [ ]:
# default_exp setup

# Connect to MySql database

> Here is a example to connect with MySql with `sqlalchemy`.

In [ ]:
#hide
from nbdev.showdoc import *

Step 1: import libraries

In [ ]:
import sqlalchemy as sqla
import pandas as pd

### Step 2: Connect to a database

In [ ]:
db = sqla.create_engine('mysql+pymysql://zhou:1234@localhost/covid19')

 ### Show info about the database and tables

In [ ]:
# Show all the tables in the database
db_tables = pd.read_sql('show tables from covid19', db)
db_tables

   Tables_in_covid19
0        coviddeaths
1  covidvaccinations

In [ ]:
# Get information of tables' structure
tables = db_tables['Tables_in_covid19']

for table in tables:
    desc = pd.read_sql('describe {}'.format(table), db)
    print('>>>', table)
    print(desc, '\n\n')

>>> coviddeaths
                                    Field         Type Null Key Default Extra
0                                iso_code   varchar(8)  YES        None
1                               continent  varchar(13)  YES        None
2                                location  varchar(32)  YES        None
3                                    date  varchar(10)  YES        None
4                             total_cases  varchar(11)  YES        None
5                               new_cases   varchar(9)  YES        None
6                      new_cases_smoothed  varchar(18)  YES        None
7                            total_deaths  varchar(12)  YES        None
8                              new_deaths  varchar(10)  YES        None
9                     new_deaths_smoothed  varchar(19)  YES        None
10                total_cases_per_million  varchar(23)  YES        None
11                  new_cases_per_million  varchar(21)  YES        None
12         new_cases_smoothed_per_million  varchar(30)  YES        None
13               total_deaths_per_million  varchar(24)  YES        None
14                 new_deaths_per_million  varchar(22)  YES        None
15        new_deaths_smoothed_per_million  varchar(31)  YES        None
16                      reproduction_rate  varchar(17)  YES        None
17                           icu_patients  varchar(12)  YES        None
18               icu_patients_per_million  varchar(24)  YES        None
19                          hosp_patients  varchar(13)  YES        None
20              hosp_patients_per_million  varchar(25)  YES        None
21                  weekly_icu_admissions  varchar(21)  YES        None
22      weekly_icu_admissions_per_million  varchar(33)  YES        None
23                 weekly_hosp_admissions  varchar(22)  YES        None
24     weekly_hosp_admissions_per_million  varchar(34)  YES        None
25                              new_tests   varchar(9)  YES        None
26                            total_tests  varchar(11)  YES        None
27               total_tests_per_thousand  varchar(24)  YES        None
28                 new_tests_per_thousand  varchar(22)  YES        None
29                     new_tests_smoothed  varchar(18)  YES        None
30        new_tests_smoothed_per_thousand  varchar(31)  YES        None
31                          positive_rate  varchar(13)  YES        None
32                         tests_per_case  varchar(14)  YES        None
33                            tests_units  varchar(15)  YES        None
34                     total_vaccinations  varchar(18)  YES        None
35                      people_vaccinated  varchar(17)  YES        None
36                people_fully_vaccinated  varchar(23)  YES        None
37                       new_vaccinations  varchar(16)  YES        None
38              new_vaccinations_smoothed  varchar(25)  YES        None
39         total_vaccinations_per_hundred  varchar(30)  YES        None
40          people_vaccinated_per_hundred  varchar(29)  YES        None
41    people_fully_vaccinated_per_hundred  varchar(35)  YES        None
42  new_vaccinations_smoothed_per_million  varchar(37)  YES        None
43                       stringency_index  varchar(16)  YES        None
44                             population  varchar(10)  YES        None
45                     population_density  varchar(18)  YES        None
46                             median_age  varchar(10)  YES        None
47                          aged_65_older  varchar(13)  YES        None
48                          aged_70_older  varchar(13)  YES        None
49                         gdp_per_capita  varchar(14)  YES        None
50                        extreme_poverty  varchar(15)  YES        None
51                  cardiovasc_death_rate  varchar(21)  YES        None
52                    diabetes_prevalence  varchar(19)  YES        None
53                         female_smokers  varchar(14)  YES        None
54                           male_smokers  varchar(12)  YES        None
55                 handwashing_facilities  varchar(22)  YES        None
56             hospital_beds_per_thousand  varchar(26)  YES        None
57                        life_expectancy  varchar(15)  YES        None
58                human_development_index  varchar(23)  YES        None


>>> covidvaccinations
                                    Field         Type Null Key Default Extra
0                                iso_code   varchar(8)  YES        None
1                               continent  varchar(13)  YES        None
2                                location  varchar(32)  YES        None
3                                    date  varchar(10)  YES        None
4                               new_tests   varchar(9)  YES        None
5                             total_tests  varchar(11)  YES        None
6                total_tests_per_thousand  varchar(24)  YES        None
7                  new_tests_per_thousand  varchar(22)  YES        None
8                      new_tests_smoothed  varchar(18)  YES        None
9         new_tests_smoothed_per_thousand  varchar(31)  YES        None
10                          positive_rate  varchar(13)  YES        None
11                         tests_per_case  varchar(14)  YES        None
12                            tests_units  varchar(15)  YES        None
13                     total_vaccinations  varchar(18)  YES        None
14                      people_vaccinated  varchar(17)  YES        None
15                people_fully_vaccinated  varchar(23)  YES        None
16                       new_vaccinations  varchar(16)  YES        None
17              new_vaccinations_smoothed  varchar(25)  YES        None
18         total_vaccinations_per_hundred  varchar(30)  YES        None
19          people_vaccinated_per_hundred  varchar(29)  YES        None
20    people_fully_vaccinated_per_hundred  varchar(35)  YES        None
21  new_vaccinations_smoothed_per_million  varchar(37)  YES        None
22                       stringency_index  varchar(16)  YES        None
23                     population_density  varchar(18)  YES        None
24                             median_age  varchar(10)  YES        None
25                          aged_65_older  varchar(13)  YES        None
26                          aged_70_older  varchar(13)  YES        None
27                         gdp_per_capita  varchar(14)  YES        None
28                        extreme_poverty  varchar(15)  YES        None
29                  cardiovasc_death_rate  varchar(21)  YES        None
30                    diabetes_prevalence  varchar(19)  YES        None
31                         female_smokers  varchar(14)  YES        None
32                           male_smokers  varchar(12)  YES        None
33                 handwashing_facilities  varchar(22)  YES        None
34             hospital_beds_per_thousand  varchar(26)  YES        None
35                        life_expectancy  varchar(15)  YES        None
36                human_development_index  varchar(23)  YES        None